html,body {
	margin: 0;
	padding: 0;
}

/************** Header ***************/

header {
	width: 100%;
	border:1px solid black;
	overflow: hidden;
}

header h1 {
	display: inline;
	float: left;
}

.loginForm {
	display: inline;
	float: right;
}

.headerUser {
	display: inline;
	float: right;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
}

.disconnect {
	float: right;
}